.header{
    // background-color: $dgreen;
    position: relative;
    .navbar{
        padding: 0;

        #navbarSupportedContent{
            justify-content: flex-end;
        }

        .navbar-brand{
            background-color: $white;
            position: absolute;
            top: 0;
            left: 0;
            // border: 4px solid $dgreen;
            padding: 15px;
            img{
                max-width: 200px;
            }
            &:after{
                content: "";
                width: 0;
                height: 0;
                border-top: 80px solid $dgreen;
                border-right: 80px solid transparent;
                position: absolute;
                top: 20px;
                right: -84px;
                display: none;
            }
        }

        ul{
            display: flex;
            background-color: $dgreen;
            // justify-content: flex-end;
            // width: 100%;
            li{
                a{
                    padding: 5px 15px 7px !important;
                    color: $white !important;
                    font-family: $play;
                    font-weight: $med;
                    font-size: $font - 1px;
                    border-right: 1px solid $white;
                    transition: 0.5s all ease-in-out;

                    &:hover{
                        background-color: $white;
                        color: $dgreen !important;
                    }
                }
                &:last-child{
                    a{
                        border-right: 0px solid;
                    }   
                }
            }
        }
    }
}