.slider{
    margin-top: 20px;
}

.right-col{
    // border: 1px solid $dgreen;
    .col-title{
        @include col-title;

    }
    #carousellogo{
        .img-cus{
            max-width: 100%;
            border: 1px solid $dgreen;
            margin-bottom: 4px;
        }
    }
    .concerns{
        ul{
            padding: 0;
            list-style: none;
            li{
                a{
                    font-size: $font;
                    padding: 10px 0;
                    text-align: center;
                    display: block;
                    color: $dgreen;
                    transition: 0.5s all ease-in-out;
                    text-decoration: none;

                    &:hover{
                        background-color: $dgreen;
                        color: $white;
                    }
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next{
            span{
                color: $dgreen;
                font-size: $font + 15px;
            }
        }
    }
}